#tabswitcher-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  -webkit-user-select: none;
  z-index: 9000;
}

#tabswitcher-overlay #box {
  background-color: #F8F8F8;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 1px 0px;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  padding : 20px;
}

#tabswitcher-overlay .favicon {
  height:16px;
  width:16px;
}

#tabswitcher-overlay input {
  border: solid 1px #d2d2d2;
  padding: 3px 5px;
  background-color: #FFF;
  font: normal 16px/100% Arial, Helvetica, sans-serif;
  width:100%;
}

#tabswitcher-overlay ul {
  padding : 0 10px 0 10px;
}

#tabswitcher-overlay ul li {
  list-style-type: none;
  font: normal 14px/100% Arial, Helvetica, sans-serif;
  padding-top : 20px;
  display : block;
}

.title {
  margin-left:5px;
  color : black;
}

.url {
  margin-top:5px;
  margin-left:10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow:hidden;
  width:100%;
  color: #999;
  font-size:14px/100%;
}
